<th:block th:fragment="main" xmlns:th="http://www.thymeleaf.org">
    <!-- App CSS -->
    <link th:href="@{~/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/css/core.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/css/components.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/css/icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/css/pages.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/css/menu.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/css/responsive.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/css/custom.css}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script th:src="@{~/assets/js/modernizr.min.js}"></script>
</th:block>

<th:block th:fragment="plugins" xmlns:th="http://www.thymeleaf.org">
    <!-- Sweet Alert css -->
    <link th:href="@{~/assets/plugins/bootstrap-sweetalert/sweet-alert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/plugins/multiselect/css/multi-select.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{~/assets/plugins/select2/dist/css/select2.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/assets/plugins/select2/dist/css/select2-bootstrap.css}" rel="stylesheet" type="text/css">
    <!-- Plugins css-->
    <link th:href="@{~/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <!-- Circlifull chart css -->
    <link th:href="@{~/assets/plugins/jquery-circliful/css/jquery.circliful.css}" rel="stylesheet" type="text/css"/>
    <!-- Dragula (Drag and drop) css -->
    <link th:href="@{~/assets/plugins/dragula/dragula.min.css}" rel="stylesheet">
    <!-- Custom box (Modal) css -->
    <!--Added a new version -->
    <link th:href="@{~/assets/plugins/custombox/4.0.3/custombox.min.css}" rel="stylesheet">
    <!-- Dragula (Drag and drop) css -->
    <link th:href="@{~/assets/plugins/dragula/dragula.min.css}" rel="stylesheet">
    <!--Noty Css -->
    <link th:href="@{~/assets/plugins/notyjs/noty.css}" rel="stylesheet">
    <link th:href="@{~/assets/plugins/notyjs/themes/mint.css}" rel="stylesheet">
</th:block>

<th:block th:fragment="charts" xmlns:th="http://www.thymeleaf.org">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" th:href="@{~/assets/plugins/morris/morris.css}">
</th:block>