.modal-max-length-fix {
    z-index: 20000 !important;
}

.no-resize {
    resize: none;
}

.wrap-long-word {
    word-wrap: break-word;
}

.margin-left-60 {
    margin-left: 60px;
}

.kanban-rml {
    margin-left: 0 !important;
}

.select2-drop-active {
    border: 1px solid #e3e3e3 !important;
    padding-top: 5px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    z-index: 20001;
}