.modal-max-length-fix {
    z-index: 20000 !important;
}

.no-resize {
    resize: none;
}

.wrap-long-word {
    word-wrap:break-word;
}

.margin-left-60 {
    margin-left: 60px;
}

.kanban-rml {
    margin-left: 0 !important;
}