<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/login}">
<head>
</head>
<body>
    <section layout:fragment="content">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Reset Password</h4>

            <p class="text-muted m-b-0 font-13 m-t-20">Enter your email address and we'll send you an email with
                instructions to reset your password. </p>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-20" action="index.html">

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" required="" placeholder="Enter email">
                    </div>
                </div>

                <div class="form-group text-center m-t-20 m-b-0">
                    <div class="col-xs-12">
                        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Send
                            Email
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </section>
    <section layout:fragment="suggestion">
        <th:block th:replace="fragments/login-register/common :: sign-in"></th:block>
    </section>
</body>
</html>

