<th:block th:fragment="left-sidebar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">

            <!-- User -->
            <div class="user-box">
                <div class="user-img">
                    
                    <img th:src="@{~/assets/images/users/avatar-1.jpg}" alt="user-img" th:title="${#authentication.principal.getName()}" class="img-circle img-thumbnail img-responsive">
                </div>
                <h4><a href="javascript:void(0);" th:text="${#authentication.principal.getName()}"></a> </h4>
                <h6 th:text="${#authentication.principal.getRoles().get(0).getName()}"></h6>
                <ul class="list-inline">
                    <li>
                        <a href="javascript:void(0);" >
                            <i class="zmdi zmdi-settings"></i>
                        </a>
                    </li>

                    <li>
                        <a href="/logout" class="text-custom">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End User -->

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul>
                    <li class="text-muted menu-title">Navigation</li>

                    <li>
                        <a href="/" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                    </li>

                    <li class="has_sub">
                        <a href="/challenges/users" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> <span>Challenges </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="/challenges/users">Find User To Challenge</a></li>
                            <li><a href="/challenges/sent">Sent Challenges</a></li>
                            <li><a href="/challenges/pending">Pending Challenges</a></li>
                            <li><a href="/challenges/accepted">Accepted Challenges</a></li>
                        </ul>
                    </li>

                    <li class="has_sub" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-text"></i><span class="label label-warning pull-right">7</span><span> User Manager </span> </a>
                        <ul class="list-unstyled">
                            <li><a href="javascript:void(0);">General Elements</a></li>
                            <li><a href="javascript:void(0);">Advanced Form</a></li>
                            <li><a href="javascript:void(0);">Form Validation</a></li>
                            <li><a href="javascript:void(0);">Form Wizard</a></li>
                            <li><a href="javascript:void(0);">Form Uploads</a></li>
                            <li><a href="javascript:void(0);">Wysiwig Editors</a></li>
                            <li><a href="javascript:void(0);">X-editable</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>

        </div>

    </div>
    <!-- Left Sidebar End -->
</th:block>