<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/bundles/meta"></th:block>
        <!-- App title -->
        <title>SpringHabit - Responsive Admin Dashboard Template</title>
        <th:block th:replace="fragments/bundles/css :: main"></th:block>
    </head>
    <body>
        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <div class="text-error" th:text="${status}"></div>
                <h3 class="text-uppercase font-600" th:text="${error}"></h3>
                <p class="text-muted">
                    It's looking like you may have taken a wrong turn. Don't worry... it happens to
                    the best of us. You might want to check your internet connection. Here's a little tip that might
                    help you get back on track.
                </p>
                <br>
                <a class="btn btn-success waves-effect waves-light" href="/"> Return Home</a>

            </div>
        </div>
        <!-- End wrapper page -->
        <th:block th:replace="fragments/bundles/javascript :: main"></th:block>
        <th:block th:replace="fragments/bundles/javascript :: app"></th:block>
	</body>
</html>