<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/bundles/meta"></th:block>
        <!-- App title -->
        <title>SpringHabit - Responsive Admin Dashboard Template</title>
        <!-- Custom box (Modal) css -->
        <link th:href="@{~/assets/plugins/custombox/dist/custombox.min.css}" rel="stylesheet">
        <!-- Dragula (Drag and drop) css -->
        <link th:href="@{~/assets/plugins/dragula/dragula.min.css}" rel="stylesheet">

        <th:block th:replace="fragments/bundles/css :: charts"></th:block>
        <th:block th:replace="fragments/bundles/css :: main"></th:block>
    </head>
    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">
            <th:block th:replace="fragments/common/topbar"></th:block>
            <th:block th:replace="fragments/common/left-sidebar"></th:block>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <th:block th:replace="fragments/dashboard/stats"></th:block>
                        <th:block th:replace="fragments/dashboard/tasks"></th:block>
                        <th:block th:replace="fragments/common/modal"></th:block>


                    </div> <!-- container -->

                </div> <!-- content -->

                <th:block th:replace="fragments/common/footer"></th:block>

            </div>
            <th:block th:replace="fragments/common/right-sidebar"></th:block>
        </div>
        <th:block th:replace="fragments/bundles/javascript :: main"></th:block>
        <th:block th:replace="fragments/bundles/javascript :: charts"></th:block>
        <th:block th:replace="fragments/bundles/javascript :: modal"></th:block>
        <th:block th:replace="fragments/bundles/javascript :: app"></th:block>
    </body>
</html>